@import "reset.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
}

.picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 34% 15% 13% 20% 18%;
  grid-template-rows: 40% 25% 35%;
  grid-template-areas:
    "title girl-in-a-hat girl-in-a-hat curly-girl girl-in-a-dress"
    "title girl-in-a-hat girl-in-a-hat doorway red-block"
    "title-description coffee-cup brown-block doorway man";
}

.girl-in-a-hat {
  grid-area: girl-in-a-hat;
}

.curly-girl {
  grid-area: curly-girl;
}

.girl-in-a-dress {
  grid-area: girl-in-a-dress;
}

.coffee-cup {
  grid-area: coffee-cup;
}

.doorway {
  grid-area: doorway;
}

.man {
  grid-area: man;
}

.title {
  grid-area: title;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title__text {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.375rem;
  max-width: 330px;
  margin-top: 13vh;
}

.title__list {
  display: flex;
  margin-bottom: 4.5vh;
}

.title__contact-img {
  padding: 24px;
}

.title-description {
  grid-area: title-description;
  background: #828282;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-description__text {
  color: #f2f2f2;
  max-width: 350px;
  font-weight: 300;
  font-size: 1.13rem;
  line-height: 1.38rem;
}

.red-block {
  grid-area: red-block;
  background: #a61c1c;
}

.brown-block {
  grid-area: brown-block;
  background: #a6806b;
  width: 100%;
  height: 100%;
}

@media (min-width: 1536px) {
  .title__text {
    max-width: 380px;
    font-size: 4.8rem;
  }
  .title-description__text {
    max-width: 380px;
    font-weight: 300;
    font-size: 1.6rem;
  }
}

@media (max-width: 992px) {
  .main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh 30vh 40vh 60vh 40vh 50vh;
    grid-template-areas:
      "title girl-in-a-hat"
      "title-description title-description"
      "coffee-cup brown-block"
      "curly-girl girl-in-a-dress"
      "doorway red-block"
      "doorway man";
  }
  .title {
    grid-area: title;
  }
  .title-description {
    grid-area: title-description;
  }
  .title__text {
    font-size: 3rem;
    line-height: 3.375rem;
    max-width: 250px;
  }
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .title-description__text {
    max-width: 655px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .brown-block {
    grid-area: brown-block;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .doorway {
    grid-area: doorway;
  }
  .red-block {
    grid-area: red-block;
  }
  .man {
    grid-area: man;
  }
}

@media (max-width: 762px) {
  .main {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 20vh 100vh 35vh 45vh 35vh 45vh;
    grid-template-areas:
      "title title"
      "title-description title-description"
      "girl-in-a-hat girl-in-a-hat"
      "coffee-cup brown-block"
      "curly-girl girl-in-a-dress"
      "doorway red-block"
      "doorway man";
  }
  .title {
    grid-area: title;
  }
  .title-description {
    grid-area: title-description;
  }
  .title-description__text {
    max-width: 300px;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .brown-block {
    grid-area: brown-block;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .red-block {
    grid-area: red-block;
  }
  .man {
    grid-area: man;
  }
  .doorway {
    grid-area: doorway;
  }
}

@media (max-width: 320px) {
  .main {
    grid-template-columns: 100%;
    grid-template-rows: 35vh 10% 45vh 30vh 5vh 40vh 40vh 50vh 5% 40vh;
    grid-template-areas:
      "title"
      "title-description"
      "girl-in-a-hat"
      "coffee-cup"
      "brown-block"
      "curly-girl"
      "girl-in-a-dress"
      "doorway"
      "red-block"
      "man";
  }
  .title {
    grid-area: title;
  }
  .title-description {
    grid-area: title-description;
  }
  .title-description__text {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .brown-block {
    grid-area: brown-block;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .doorway {
    grid-area: doorway;
  }
  .red-block {
    grid-area: red-block;
  }
  .man {
    grid-area: man;
  }
}
