@import "reset.css";
@import url(styles/red-block.css);
@import url(styles/brown-block.css);
@import url(styles/picture__img.css);
@import url(styles/main.css);
@import url(styles/title.css);
@import url(styles/img-blocks.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
}
