.girl-in-a-hat {
  grid-area: girl-in-a-hat;
}

.curly-girl {
  grid-area: curly-girl;
}

.girl-in-a-dress {
  grid-area: girl-in-a-dress;
}

.coffee-cup {
  grid-area: coffee-cup;
}

.doorway {
  grid-area: doorway;
}

.man {
  grid-area: man;
}

@media (max-width: 992px) {
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .doorway {
    grid-area: doorway;
  }
  .man {
    grid-area: man;
  }
}

@media (max-width: 762px) {
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .doorway {
    grid-area: doorway;
  }
  .man {
    grid-area: man;
  }
}

@media (max-width: 320px) {
  .girl-in-a-hat {
    grid-area: girl-in-a-hat;
  }
  .curly-girl {
    grid-area: curly-girl;
  }
  .girl-in-a-dress {
    grid-area: girl-in-a-dress;
  }
  .coffee-cup {
    grid-area: coffee-cup;
  }
  .doorway {
    grid-area: doorway;
  }
  .man {
    grid-area: man;
  }
}
