.main {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 34% 15% 13% 20% 18%;
  grid-template-rows: 40vh 25vh 35vh;
  grid-template-areas:
    "title girl-in-a-hat girl-in-a-hat curly-girl girl-in-a-dress"
    "title girl-in-a-hat girl-in-a-hat doorway red-block"
    "title-description coffee-cup brown-block doorway man";
  overflow: hidden;
}

@media (max-width: 992px) {
  .main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh 30vh 40vh 60vh 40vh 50vh;
    grid-template-areas:
      "title girl-in-a-hat"
      "title-description title-description"
      "coffee-cup brown-block"
      "curly-girl girl-in-a-dress"
      "doorway red-block"
      "doorway man";
  }
}

@media (max-width: 762px) {
  .main {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 40vh 15vh 60vh 20vh 35vh 20vh 30vh;
    grid-template-areas:
      "title title"
      "title-description title-description"
      "girl-in-a-hat girl-in-a-hat"
      "coffee-cup brown-block"
      "curly-girl girl-in-a-dress"
      "doorway red-block"
      "doorway man";
  }
}

@media (max-width: 320px) {
  .main {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
